.Introduction {
    padding: 1rem;

    h4 {
        color: #fff;
    }

    p {
        padding: 0 !important;
        margin: 0 !important;
    }

    .introduction-text {


        .introduction-tags {
            font-size: .6rem;
            color: #999;
        }

        .introduction-text {
            display: block !important;
            font-size: .8rem;
            color: #ccc;
        }
    }

    .introduction-icon {
        display: flex;
        justify-content: space-between;
        padding: .5rem 0;
        text-align: center;

        i {
            font-size: 1.3rem;
            font-weight: 800;
        }

        p {
            display: block !important;
        }
    }

    hr {
        width: 100%;
        padding: 0 2rem;
        margin-left: -2rem;
        border: .5px solid #666;
    }

    .introduction-extend {}
}