.Home {
    .header {
        position: sticky;
        top: 0;
        left: -.5rem;
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding: 1rem 0;
        font-size: 1rem;
        background: #fff;
        z-index: 999;

        i {
            font-size: 1.2rem;
        }
    }

    .content {
        margin: 0 .5rem
    }


}

.topAcitve {
    border-bottom: 1px solid;
}