.main {
    padding-bottom: 1.2rem;

    .content {
        position: relative;

        img {

            height: 12rem;
            width: 21.5rem;
        }

        .inconVideo {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 2rem;
            color: #fff;
        }

        .main-footer {
            display: flex;
            margin: .3rem 0 .8rem 0;

            .footer-left {
                img {
                    width: 2rem;
                    height: 2rem;
                    border-radius: 50%;
                    margin: .4rem;
                }
            }

            .footer-right {
                .top {
                    font-weight: 800;

                }

                .botoom {
                    font-size: .6rem;
                    color: #666;
                }
            }
        }
    }


}