.Details {
    background: black;

    .Details-top {
        padding: .5rem 1rem;
        display: flex;
        color: #fff;

        .top-author {
            margin-left: 1rem;

            img {
                width: 2rem;
                border-radius: 50%;
            }

            p {
                display: inline;
                font-size: .6rem;
                margin-left: .6rem;
            }
        }

        .icon-jia {
            position: absolute;
            right: 1rem;
        }


        i {
            font-size: 1.3rem;
            font-weight: 800;
            z-index: 9999;
        }
    }

    .playVideo {
        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 2rem;
            color: #fff;
            z-index: 99;
        }

        .icon-hanhan-01 {
            left: 30% !important;
        }

        .icon-hanhan-011 {
            left: 70% !important;
        }
    }

    video {

        source {}
    }

    .Details-bottom {
        color: #fff;
        padding: .5rem 0;

        p {
            display: inline;
            margin: 1rem;
            padding: .2rem 0;
        }
    }

    hr {
        border: .5px solid #666;
    }
}

.Details-header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    background: black;
    width: 100%;
}

.deIsActive {
    border-bottom: 1px solid #fff;
}

video::-webkit-media-controls-play-button {
    display: none;
}

video::-webkit-media-controls-mute-button {
    display: none;
}

video::-webkit-media-controls-timeline {
    padding: 0 !important;
}